/* Allgemeine Formatierungen für alle Webseiten */
* {
    box-sizing: content-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;

    background-color: #fff;
}

nav {
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 2vh;

    background-color: darkslategrey;
    z-index: 100;
}

nav .nav-logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    color: #fff;
    text-decoration: none;

    border: 2px solid #000;
    border-bottom: 2px solid yellow;
    border-radius: 25px;
}

nav .nav-logo a img {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 33px;
    height: auto;
}

nav .nav-logo a:hover {
    color: #000;

    border: 2px solid yellow;
    border-bottom: 2px solid #000;

    background-color: #fff;
}

nav .list-container {
    display: flex;

    justify-content: center;
    align-items: center;
}

nav .list-container div {
    display: flex;
    align-items: center;
}

nav .list-container hr {
    border-left: 1px solid #fff;
    height: 50px;
    margin-left: 10px;
}

nav .nav-links .nav-list {
    margin: 15px;
    padding: 0;

    list-style-type: none;

    display: flex;

    flex-wrap: wrap;
}

nav .nav-links .nav-list li {
    margin: 5px;
    padding: 5px;
}

nav .nav-links .nav-list li a {
    text-decoration: none;
    color: #fff;

    padding: 8px;
    border-radius: 5px;
}

nav .nav-links .nav-list li a:hover {
    background-color: #000;
}


nav .actions .action-list {
    margin: 5px;
    padding: 0;

    list-style-type: none;

    display: flex;

    flex-wrap: wrap;
}

nav .actions .action-list li {
    margin: 5px;
}

nav .actions .action-list li a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #fff;

    padding: 8px;
    border-radius: 5px;
}

nav .actions .action-list li a:hover {
    background-color: #000;
}

nav .actions .action-list li a img {
    margin: 5px;
    height: 20px;
    filter: brightness(0) invert(1);
}


.banner-background {
    position: initial;
    display: block;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner-background.small {
    height: 70vh;
}

.banner-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
    /* 1 is normal, 0.5 is 50% brightness, 0.3 is very dark */
    filter: brightness(0.8);
}

.banner {
    position: absolute;

    inset-block-start: 0px;
    inset-inline-start: 0px;

    width: 100vw;
    height: 100vh;

    padding-top: 20vh;

    z-index: 10;
}

.banner.small {
    height: 70vh;
}

.banner.small .banner-container {
    height: 50%;
}

.banner-container {
    color: #fff;

    height: 80%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

}

.banner-content {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;

    font-size: 32px;
}

.banner-content.center {
    justify-content: space-evenly;
}

.banner-content.bottom {
    justify-content: end;
}

.banner-content.bottom .link {
    color: #fff;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 10px;

    margin-bottom: 15px;

    text-decoration: none;
}

.banner-content.bottom .link img {
    height: 25px;
    filter: brightness(0) invert(1);
}

.banner-content .title {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.banner-content .title img {
    height: 22vh;
}

.banner-content .title p {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 55px;
}

.banner-content .description {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.banner-content .description .slogan {
    font-size: 33px;
    font-family: fantasy;
}


.banner-content p {
    margin-bottom: 3vh;
}

main,
section {
    scroll-margin-top: 20vh;
}

section {
    padding: 2vh;
    margin: 2vh;

    min-height: 10vh;

    background-color: #fff;

    border: 1.5px solid #000;
    border-radius: 10px;

    box-shadow: 10px 5px 5px #000;
}

section h1 {
    font-size: 24px;
}

section h1.center {
    text-align: center;
}

section h2 {
    font-size: 22px;
}

section h3 {
    font-size: 20px;
}

section p {
    font-size: 16px;
}

section p.center {
    text-align: center;
}

.wrapper {
    padding-top: 10vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10vh;
}

.wrapper.small {
    padding-left: 30%;
    padding-right: 30%;
}

footer {
    color: #fff;

    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background-color: darkslategrey;
}

footer div {
    margin: 0;
    padding: 5px;

    display: flex;

    justify-content: center;
    align-items: center;

}

footer hr {
    border-top: 1px solid #fff;
    width: 80%;
}

footer .links {
    margin: 0;
    padding: 5px;

    list-style-type: none;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

footer .links li {
    margin: 5px;
}

footer .links li a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

footer .links li a:hover {
    background-color: #000;

    border-radius: 5px;
}

/* Seiten spizifische Formatierungen */




/* Anpassung der Fromatierung für mobile Anzeigen (Handy, Tablet, ...) */

@media only screen and (max-width: 900px) {

    /* Allgemein spizifische Formatierungen */
    .banner {
        padding-top: 40vh;
    }

    .banner .banner-container {
        height: 60%;
    }

    nav .list-container {
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    nav .nav-links .nav-list {
        margin: 5px;
    }

    nav .actions .action-list {
        margin: 5px;
    }

    nav .list-container hr {
        background-color: #000;
        border: none;
        border-top: 1px solid #fff;
        height: 1px;
        width: 20vh;
    }

    .banner-content .title img {
        height: 15vh;
    }

    .banner-content .title p {
        font-size: 30px;
    }

    .banner-content .description .slogan {
        font-size: 22px;
    }

    .wrapper {
        padding-left: 2%;
        padding-right: 2%;
    }

    .wrapper.small {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Seiten spizifische Formatierungen */
}